@(page:String)
<div  class="list-group success" style="width: 130%; margin-top: -20%; margin-left: -10%;">
    <style>
#side-menu-1:hover,#side-menu-2:hover,#side-menu-3:hover,#side-menu-4:hover,#side-menu-5:hover,#side-menu-6:hover{
background-color: #6f000d;color:white;}
#side-menu-1:focus,#side-menu-2:focus,#side-menu-3:focus,#side-menu-4:focus,#side-menu-5:focus,#side-menu-6:focus{
background-color:#6f000d;color:white;}
.list-group-item{height:60px;padding-top: 20px;}
</style>
<a class=" list-group-item " id="side-menu-1" href="" style="">
    <span class="round-tabs">
    <i class="glyphicon glyphicon-folder-open"></i>
</span>Academic Choice</a>
    <a class="list-group-item" id="side-menu-2" href="#">
        <span class="round-tabs">
            <i class="glyphicon glyphicon-user"></i>
        </span>
        Student Profile</a>
    <a class="list-group-item" id="side-menu-3" href="#">
        <span class="round-tabs">
            <i class="glyphicon glyphicon-book"></i>
        </span>
        Education Background</a>
    <a class="list-group-item" id="side-menu-4"  href="#">
        <span class="round-tabs">
            <i class="glyphicon glyphicon-euro"></i>
        </span>
        Payment</a>
</div>